:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: lightgrey;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    background-color: var(--white);
    padding: 1rem 2rem;
}

.progress-control {
    width: 100%;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    input {
        width: 100%;
    }
   
}

