body {
    font-family: 'Roboto';
    --robin-egg-blue: #25ced1ff;
    --white: #ffffffff;
    --champagne-pink: #fceadeff;
    --coral: #ff8a5bff;
    --bright-pink-crayola: #ea526fff;
}

h1 {
    margin: 0;
}